<a href="https://colab.research.google.com/github/Eleemon98/Colaboratory/blob/main/0109_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%B1%8C%EB%A6%B0%EC%A7%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

문자열

In [ ]:
s = "PythonProgramming"

print(s[0:10])
print(s[:-7])

PythonProg
PythonProg

In [ ]:
s = "PythonProgramming"
t=''
for i in s:
  t += i
  if i == 'g':
    break

In [ ]:
t

'PythonProg'

In [ ]:
print(s[s.index('P'):s.index('g')+1])

PythonProg

In [ ]:
t="DataScience"

print(t[-1]+t[0])

eD

In [ ]:
c="HelloWorld"
print(c[::2])

Hlool

In [ ]:
d="ProgrammingLanguage"

print(d[2:8])

ogramm

In [ ]:
a="ArtificialIntelligence"
print(a[:10])

Artificial

In [ ]:
b="MachineLearning"
print(b[-1:-9:-1])

gninraeL

In [ ]:
e = "CloudComputing"
print(e[4::-1]+' '+e[:4:-1])

duolC gnitupmoC

In [ ]:
f = "InformationTechnology"
print(f[:-11:-1])

ygolonhceT

In [ ]:
g = "Python is fun"
g.replace("fun","powerful")

'Python is powerful'

In [ ]:
h = "Learning Python is useful"
h.replace("useful","easy")

'Learning Python is easy'

In [ ]:
i = "Banana, Apple, Orange"
i.replace(",",";")

'Banana; Apple; Orange'

In [ ]:
j = "Sun Mon Tue Wed Thu Fri Sat"
j.replace(" ", "-")

'Sun-Mon-Tue-Wed-Thu-Fri-Sat'

In [ ]:
k1 = "Web"
k2 = "Development"
print(k1+k2)

WebDevelopment

In [ ]:
l1 = "Deep"
l2 = "Learning"
print(l1+l2)

DeepLearning

In [ ]:
m = "Hi!"
print(m*5)

Hi!Hi!Hi!Hi!Hi!

In [ ]:
n = "A"
print((n+"-")*9+n)
'-'.join(n*10)

A-A-A-A-A-A-A-A-A-A

'A-A-A-A-A-A-A-A-A-A'

In [ ]:
n="AA"
'-'.join(n) #문자열에 사잇값을 넣는 함수

'A-A'

In [ ]:
k=['1','2','3','4','5']
''.join(k)

'12345'

In [ ]:
o = "   Hello, Python!  "
o.strip( )  #앞이나 뒤에 있는 특수문자나 공백을 날리는 함수

'Hello, Python!'

In [ ]:
p = "---Python---"
p.strip("-")

'Python'

In [ ]:
name = "Alice"
age = 30
city = "New York"
print(f"Hello, my name is {name}. I am {age} years old and I live in {city}.")

Hello, my name is Alice. I am 30 years old and I live in New York.

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(f"I like to eat {', '.join(fruits[:-1])}, and {fruits[-1]}.")

I like to eat apple, banana, and cherry.

In [ ]:
product = {"name": "chair", "price": 40}
print(f"The price of this {product['name']} is {product['price']} dollars.")

The price of this chair is 40 dollars.

리스트

In [ ]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

아래 것 복습해보기 리스트 사이에 값 넣는 것

In [ ]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']

movie_rank.insert(1,'슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [ ]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']

movie_rank.insert(1, '슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [ ]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
result = [movie_rank[0]]+['슈퍼맨']+movie_rank[1:]
result

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [ ]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
result = [movie_rank[0]]+['슈퍼맨']+movie_rank[1:]
result

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [ ]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [ ]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
result = movie_rank[:3]+[movie_rank[4]]
result

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [ ]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie_rank.remove('럭키')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [ ]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2:]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [ ]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
print(lang1+lang2)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7]
print(max(nums))
print(min(nums))

7
1

아래 2개 연습하기

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7]
t = nums[0]

for k in range(len(nums)):
  if t < nums[k]:
    t = nums[k]
t

7

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7]
t = nums[0]

for k in range(len(nums)):
  if t < nums[k]:
    t = nums[k]
t

7

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7]
t = nums[0]

for k in range(len(nums)):
  if t > nums[k]:
    t = nums[k]
t

1

In [ ]:
k= [5,3,2,1,4,6,7]
print(sorted(k))
k[-1]

[1, 2, 3, 4, 5, 6, 7]

7

In [ ]:
k= [5,3,2,1,4,6,7]
print(sorted(k))
k[-1]

[1, 2, 3, 4, 5, 6, 7]

7

In [ ]:
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

연습하기

In [ ]:
nums = [1, 2, 3, 4, 5]

total = 0
for i in nums:
  total += i

print(total)

15

In [ ]:
nums = [1, 2, 3, 4, 5]
total = 0

for i in nums:
  total += i

print(total)

15

In [ ]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

연습하기

In [ ]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
cnt = 0
for i in cook:
  cnt+=1
print(cnt)

12

In [ ]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
cnt = 0

for i in cook:
  cnt += 1
print(cnt)

12

In [ ]:
nums = [1, 2, 3, 4, 5]
print(sum(nums)//len(nums))

3

In [ ]:
nums = [1, 2, 3, 4, 5]

total = 0
cnt = 0
for i in nums:
  total += i
  cnt+= 1

print(total/cnt)

3.0

튜플

In [ ]:
tuple([1])
(1,)

(1,)

In [ ]:
t = (1, 2, 3)
t[0] = 'a'

In [ ]:
t = 1, 2, 3, 4  #,(콤마)로 인해 튜플로 인식

In [ ]:
type(t)

tuple

In [ ]:
t = ('a', 'b', 'c')
t=list(t)
t[0] = 'A'
t= tuple(t)

In [ ]:
t

('A', 'b', 'c')

In [ ]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
list(interest)
print(interest)

('삼성전자', 'LG전자', 'SK Hynix')

In [ ]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [ ]:
tuple(range(2,99,2))

(2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98)

딕셔너리

In [ ]:
ice = {'이름':['메로나','폴라포','빵빠레'],'가격':[1000, 1200, 1800]}
ice

{'이름': ['메로나', '폴라포', '빵빠레'], '가격': [1000, 1200, 1800]}

In [ ]:
ice['이름'] = ice['이름']+['죠스바', '월드콘', '슈퍼콘']
ice['가격'] = ice['가격']+[1200, 1500, 2000]

ice

{'이름': ['메로나', '폴라포', '빵빠레', '죠스바', '월드콘', '슈퍼콘'],
 '가격': [1000, 1200, 1800, 1200, 1500, 2000]}

In [ ]:
ice['이름'][0]
ice['가격'][0]

1000

In [ ]:
cream = {}
for k, v in zip(ice['이름'],ice['가격']):
  cream[k] = v
cream

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500, '슈퍼콘': 2000}

In [ ]:
cream['메로나']

1000

In [ ]:
cream['메로나']=1300
cream

{'메로나': 1300, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500, '슈퍼콘': 2000}

이전 딕셔너리에 아이스크림 가격정보 추가하는 방법

In [ ]:
for i in range(len(name)):
  ice[name[i]] = price[i]

In [ ]:
ice['가격'][0]=1300
ice

{'이름': ['메로나', '폴라포', '빵빠레', '죠스바', '월드콘', '슈퍼콘'],
 '가격': [1300, 1200, 1800, 1200, 1500, 2000]}

In [ ]:
del cream['메로나']
cream

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500, '슈퍼콘': 2000}

In [ ]:
ice['이름'] = ice['이름'][1:]
ice['가격'] = ice['가격'][1:]
ice

{'이름': ['폴라포', '빵빠레', '죠스바', '월드콘', '슈퍼콘'],
 '가격': [1200, 1800, 1200, 1500, 2000]}

In [ ]:
new_name=ice['이름'][1:]
new_price=ice['가격'][1:]

ice = {'이름':new_name, '가격': new_price}
ice

{'이름': ['폴라포', '빵빠레', '죠스바', '월드콘', '슈퍼콘'],
 '가격': [1200, 1800, 1200, 1500, 2000]}

In [ ]:
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바'] = 500
icecream

{'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '누가바': 500}

In [ ]:
icecream = {'메로나':[300,20],'죠스바':[400,3],'비비빅':[250,100]}

In [ ]:
print(icecream['메로나'][0],"원")

300 원

In [ ]:
print(icecream['메로나'][1], "개")

20 개

In [ ]:
icecream['월드콘'] = [500,7]
icecream

{'메로나': [300, 20], '죠스바': [400, 3], '비비빅': [250, 100], '월드콘': [500, 7]}

In [ ]:
list(icecream.keys())

['메로나', '죠스바', '비비빅', '월드콘']

In [ ]:
list(icecream.values())

[[300, 20], [400, 3], [250, 100], [500, 7]]

In [ ]:
num = list(icecream.values())

In [ ]:
first = num[0]
first[0] * first[1]

6000

연습하기

In [ ]:
num = list(icecream.values())
total = 0
for i in range(len(num)):
  price = num[i]
  pr = price[0] * price[1]
  total += pr

total

35700

In [ ]:
num = list(icecream.values())
total = 0

for i in range(len(num)):
  price = num[i]
  pr = price[0] * price[1]
  total += pr

total

35700

In [ ]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
icecream

{'탱크보이': 1200,
 '폴라포': 1200,
 '빵빠레': 1800,
 '월드콘': 1500,
 '메로나': 1000,
 '팥빙수': 2700,
 '아맛나': 1000}

In [ ]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

result = dict(zip(keys, vals))

{'apple': 300, 'pear': 250, 'peach': 400}

In [ ]:
for i, j in enumerate(keys):
  print(i, j)

0 apple
1 pear
2 peach

In [ ]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table = dict(zip(date, close_price))
close_table

{'09/05': 10500,
 '09/06': 10300,
 '09/07': 10100,
 '09/08': 10800,
 '09/09': 11000}

조건문과 함수(조건부 표현식)

문자열 출력 함수

In [ ]:
def repeat_string():
  x = input()
  return x * 2

In [ ]:
repeat_string()

힘내자

'힘내자힘내자'

숫자 입력 및 연산 함수

In [ ]:
def add_ten(a):
  a += 10
  return a

In [ ]:
add_ten(10)

20

짝수/홀수 판별 함수

In [ ]:
def even_or_odd(b):
  if b%2 == 0:
    print("짝수")
  else :
    print("홀수")

In [ ]:
even_or_odd(10)

짝수

입력 값에 20 더하기 함수

In [ ]:
def add_twenty(c):
  c += 20
  if c > 255:
    print(255)
  else:
    print(c)

In [ ]:
add_twenty(15)

35

In [ ]:
def add_twenty(n):
  if n + 20 > 255:
    return 255
  else:
    return n + 20

In [ ]:
add_twenty(250)

255

In [ ]:
def add_twenty(n):
  return 255 if n + 20 > 255 else n + 20

In [ ]:
add_twenty(150)

170

입력 값에서 20 빼기 함수

In [ ]:
def subtract_twenty(d):
  result = d - 20
  if result < 0:
    return 0
  elif result > 255:
    return 255
  else:
    return result

In [ ]:
subtract_twenty(30)

10

In [ ]:
def subtract_twenty(n):
  result = n - 20
  if result < 0:
    return 0
  elif result > 255:
    return 255
  else:
    return result

In [ ]:
subtract_twenty(300)

255

정각 판별 함수 ***

In [ ]:
def is_exact_hour(time_str):
  if time_str.split(':')[1] == '00':
    return "정각입니다."
  else:
    return "정각이 아닙니다."

In [ ]:
is_exact_hour('2:00')

'정각입니다.'

과일 포함 여부 확인 함수

In [ ]:
fruit = ["사과", "배", "체리", "수박", "파인애플"]

def is_in_fruit(f):
  print(f in fruit)

In [ ]:
is_in_fruit("포도")

False

In [ ]:
fruit = ["사과", "포도", "홍시"]

def is_in_fruit(word):
  if word in fruit:
    return "정답입니다."
  else:
    return "오답입니다."

In [ ]:
is_in_fruit('사과')

'정답입니다.'

투자 경고 종목 확인 함수

In [ ]:
event = ["주식", "연금", "적금"]

def is_warn_stock(g):
  if g in event:
    print("투자 권고 종목입니다.")
  else:
    print("투자 경고 종목입니다.")

In [ ]:
is_warn_stock("ETF")

투자 경고 종목입니다.

In [ ]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]

def is_warn_stock(stock):
  return "투자 경고 종목입니다." if stock in warn_investment_list else "투자 경고 종목이 아닙니다."

In [ ]:
is_warn_stock('Google')

'투자 경고 종목입니다.'

딕셔너리 값 확인 함수

In [ ]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

def is_in_values(h):
  print(h in icecream.values())

In [ ]:
is_in_values(1200)

True

In [ ]:
fruit_dict = {"봄": "딸기", "여름": "토마토", "가을": "사과"}

def is_in_values(value):
  if value in fruit_dict:
    return "정답입니다."
  else:
    return "오답입니다."

In [ ]:
is_in_values("봄")

'정답입니다.'

for문 문제

주어진 리스트 내의 모든 소수(Prime Number)를 찾아 출력하라. 예를 들어, 리스트가 [10, 15, 23, 42, 53, 64]일 때, 소수는 23과 53이다. ***

In [ ]:
numbers = [10, 15, 23, 42, 53, 64]

for i in numbers:
    if i > 1:
      for j in range(2, i):
        if (i % j) == 0:
          break
      else:
        print(i)

23
53

문자열 리스트 ["apple", "banana", "cherry"]에서 각 문자열의 모든 문자를 대문자로 변환하여 역순으로 출력하라.

In [ ]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
  print(fruit.upper()[::-1])

ELPPA
ANANAB
YRREHC

이중 for문 문제

1부터 5까지의 숫자를 이용해 5x5 격자의 숫자 패턴을 출력하라. 각 줄의 숫자는 이전 줄보다 하나씩 증가한다.

In [ ]:
for i in range(1,6):
  print(i, i+1)

1 2
2 3
3 4
4 5
5 6

1부터 5까지의 숫자를 이용하여 다음과 같은 계단식 패턴을 출력하라.

In [ ]:
for i in range(1,6):
  for j in range(i):
    print(i, end = ' ')
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

while문 문제

숫자 1000부터 시작하여, 17로 나누어떨어지는 첫 번째 숫자를 출력하라.

In [ ]:
num = 1000

while True:
  if num % 17 == 0:
    print(num)
    break
  num -= 1

986

피보나치 수열의 첫 10개 항을 출력하라.

In [ ]:
from logging import basicConfig
a, b = 0, 1
count = 0

while count < 10:
  print(a, end=' ')
  a, b = b, a + b
  count += 1

0 1 1 2 3 5 8 13 21 34

continue를 사용하는 while문 문제

1부터 10까지의 숫자 중 홀수만 출력하라. 단, continue를 사용하라.

In [ ]:
num = 1

while num <= 10:
  if num % 2 == 0:
    num += 1
    continue
  print(num)
  num += 1

1
3
5
7
9

-10부터 10까지의 숫자 중 음수가 아닌 숫자만 출력하라. 단, continue를 사용하라.

In [ ]:
num = -10

while num <= 10:
  if num < 0:
    num += 1
    continue
  print(num)
  num += 1

0
1
2
3
4
5
6
7
8
9
10

리스트 컴프리핸션

0부터 9까지의 숫자를 출력하라.

In [ ]:
li = [i for i in range(0,10)]
li

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

주어진 리스트의 모든 요소를 두 배하여 출력하라.

In [ ]:
numbers = [1, 2, 3, 4, 5]
num = [j * 2 for j in numbers]
num

[2, 4, 6, 8, 10]

1부터 20까지의 숫자 중, 3의 배수만 출력하라.

In [ ]:
three = [k for k in range(1,20) if k % 3 == 0]
three

[3, 6, 9, 12, 15, 18]

주어진 문자열 리스트에서 길이가 5 이상인 문자열만 출력하라.

In [ ]:
words = ["hello", "world", "python", "is", "awesome"]
word  = [a for a in words if len(a)>=5]
word

['hello', 'world', 'python', 'awesome']

0부터 100까지 짝수만 리스트에 담고 출력하라.

In [ ]:
li = []
number = [li(num) for num in range(0,101) if num % 2 == 0]
li

TypeError: 'list' object is not callable