<a href="https://colab.research.google.com/github/Eleemon98/Colaboratory/blob/main/0307_Statistic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
blood = ['A', 'A', 'A', 'B', 'B', 'AB', 'O'] # 명목척도

import numpy as np
np.unique(blood, return_counts=True)

(array(['A', 'AB', 'B', 'O'], dtype='<U2'), array([3, 1, 2, 1]))

유니크 함수를 쓰지 않고 고유값만 뽑기

In [4]:
bloods = list(set(blood))
bloods

['B', 'A', 'AB', 'O']

blood 안에 있는 요소 갯수 세기

In [5]:
for i in bloods:
  for j in blood:
    if i == j:
      print(j)

B
B
A
A
A
AB
O

In [7]:
dic = {}
for num in blood:
  if num in dic:
    dic[num] += 1
  else:
    dic[num] = 1
dic

{'A': 3, 'B': 2, 'AB': 1, 'O': 1}

평균 구하기

In [8]:
##  산술평균
x1 = [100, 100, 200, 400, 500]
x2 = [1, 1, 1, 2, 3, 5, 5, 7, 8, 9]

In [22]:
def avg(x):
  y = 0
  cnt = 0
  for i in x:
    y += i
    cnt+=1
  return y/cnt

avg(x1)

260.0

In [11]:
mean = sum(x2)/len(x2)
mean

4.2

In [23]:
x3 = x1 + x2
x3

avg(x3)

89.46666666666667

In [24]:
x4 = x2 + [x1[-1]]
x4

avg(x4)

49.27272727272727

중앙값 구하는 함수 만들기

In [28]:
# 리스트 정렬하는 bubble sort 알고리즘
x = [1, 9, 1, 3, 5, 1, 2, 7, 8, 5]

for num in range(len(x)-1, 0, -1): # 10, 9, 8, 7, 6, ...
  for n in range(num): # 0~10, 0~9 ...
    if x[n] > x[n + 1]:
      x[n], x[n+1] = x[n+1], x[n]
    print(x, x[n])

x

[1, 9, 1, 3, 5, 1, 2, 7, 8, 5] 1
[1, 1, 9, 3, 5, 1, 2, 7, 8, 5] 1
[1, 1, 3, 9, 5, 1, 2, 7, 8, 5] 3
[1, 1, 3, 5, 9, 1, 2, 7, 8, 5] 5
[1, 1, 3, 5, 1, 9, 2, 7, 8, 5] 1
[1, 1, 3, 5, 1, 2, 9, 7, 8, 5] 2
[1, 1, 3, 5, 1, 2, 7, 9, 8, 5] 7
[1, 1, 3, 5, 1, 2, 7, 8, 9, 5] 8
[1, 1, 3, 5, 1, 2, 7, 8, 5, 9] 5
[1, 1, 3, 5, 1, 2, 7, 8, 5, 9] 1
[1, 1, 3, 5, 1, 2, 7, 8, 5, 9] 1
[1, 1, 3, 5, 1, 2, 7, 8, 5, 9] 3
[1, 1, 3, 1, 5, 2, 7, 8, 5, 9] 1
[1, 1, 3, 1, 2, 5, 7, 8, 5, 9] 2
[1, 1, 3, 1, 2, 5, 7, 8, 5, 9] 5
[1, 1, 3, 1, 2, 5, 7, 8, 5, 9] 7
[1, 1, 3, 1, 2, 5, 7, 5, 8, 9] 5
[1, 1, 3, 1, 2, 5, 7, 5, 8, 9] 1
[1, 1, 3, 1, 2, 5, 7, 5, 8, 9] 1
[1, 1, 1, 3, 2, 5, 7, 5, 8, 9] 1
[1, 1, 1, 2, 3, 5, 7, 5, 8, 9] 2
[1, 1, 1, 2, 3, 5, 7, 5, 8, 9] 3
[1, 1, 1, 2, 3, 5, 7, 5, 8, 9] 5
[1, 1, 1, 2, 3, 5, 5, 7, 8, 9] 5
[1, 1, 1, 2, 3, 5, 5, 7, 8, 9] 1
[1, 1, 1, 2, 3, 5, 5, 7, 8, 9] 1
[1, 1, 1, 2, 3, 5, 5, 7, 8, 9] 1
[1, 1, 1, 2, 3, 5, 5, 7, 8, 9] 2
[1, 1, 1, 2, 3, 5, 5, 7, 8, 9] 3
[1, 1, 1, 2, 3, 5, 5, 7, 8, 9] 5
[1, 1, 1, 2, 3, 5, 5, 7, 8, 9] 1
[1, 1, 1, 2, 3, 5, 5, 7, 8, 9] 1
[1, 1, 1, 2, 3, 5, 5, 7, 8, 9] 1
[1, 1, 1, 2, 3, 5, 5, 7, 8, 9] 2
[1, 1, 1, 2, 3, 5, 5, 7, 8, 9] 3
[1, 1, 1, 2, 3, 5, 5, 7, 8, 9] 1
[1, 1, 1, 2, 3, 5, 5, 7, 8, 9] 1
[1, 1, 1, 2, 3, 5, 5, 7, 8, 9] 1
[1, 1, 1, 2, 3, 5, 5, 7, 8, 9] 2
[1, 1, 1, 2, 3, 5, 5, 7, 8, 9] 1
[1, 1, 1, 2, 3, 5, 5, 7, 8, 9] 1
[1, 1, 1, 2, 3, 5, 5, 7, 8, 9] 1
[1, 1, 1, 2, 3, 5, 5, 7, 8, 9] 1
[1, 1, 1, 2, 3, 5, 5, 7, 8, 9] 1
[1, 1, 1, 2, 3, 5, 5, 7, 8, 9] 1

[1, 1, 1, 2, 3, 5, 5, 7, 8, 9]

In [30]:
sorted(x)

[1, 1, 1, 2, 3, 5, 5, 7, 8, 9]

In [37]:
def center(x):
  x = sorted(x)
  if len(x) % 2 == 0:
    idx = int(len(x)/2)
    mda = (x[idx-1] + x[idx])/2
    return mda
  else:
    idx = len(x)/2
    mda = x[idx]
    return mda

center(x)

4.0

In [33]:
def med(x):
  x = sorted(x)
  n = len(x)
  if n % 2 == 0:
    return (x[n//2-1] + x[n//2]) /2
  else:
    return x[n//2]

In [34]:
med(x)

4.0

최빈값 구하는 함수 만들기

In [44]:
x = [1, 1, 1, 2, 3, 3, 3, 3, 5, 5, 7, 8, 9]

In [51]:
def mode(data):
  x = np.unique(data)
  dic = dict()
  for i in x:
    cnt = 0
    for j in data:
      if i == j:
        cnt += 1
      dic[i] = cnt
  return dic

In [53]:
dic = mode(x)

In [54]:
max = ''
count = 0
for k, v in dic.items():
  if v > count:
    count = v
    max = k
print('최빈값 :', max, '최빈횟수 :', count)

최빈값 : 3 최빈횟수 : 4